.canto{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
border: 3px solid;
  border-radius: 15px;
text-align: center;

 display: flex;
 flex-direction: row;
justify-content: center;

}

li {
  float: left;
border-right: 1px solid #bbbbbb;
background-color: #000000

}

li a {
	display: inline-block;
	color: #bbbbbb;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
  background-color: #000000;
}

 body {
            font-family: 'Pacifico', cursive;
            color: white;
            background-color: #282828;
            margin: 0;
            padding: 0;
}
        h1 {
            font-family: 'Pacifico', cursive;
            background-color: #fa1414;
            padding: 10px;
            text-align: center;
            color: #f0e9f7;
}

h2 {
	text-align: center;
}

h4 {
	text-align: center;
}
   p {
            font-family: 'cardo';
            color: #f0e9f7;
            font-size: 1.2em;
            line-height: 1.5;
            padding: 10px;
            background-color: #222222;
            margin: 15px;
            border-radius: 10px;
}

figcaption{
	font-size: 14px;
	font-style: italic;
	font-family: serif;
	letter-spacing: 1px;
}
{
   .main-content {
            padding: 20px;
            background-color: #222222;
            margin: 20px;
            border-radius: 10px;
        }




@media screen and (max-width: 600px) {
  
  ul li {
float: none;
}
 ul {
  flex-direction: column; 
}
p { 
padding: 10px 10px 10px 50px;
}
h1 {
	padding: 50px 0px 0px 0px;
}
}
